
.header {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(146, 144, 148);
    width:100%;
}

.wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    width: 100px;   
    height: 100px;
    background-color: lightgreen;
}

.card-body {
    background-color: lightgray;
   
}

#display {
    width: 100%;

}
